<div class="suite" id="<%= suite.suite.id %>">
	<div class="suite-title fn-show-setup">
		<h1 class="suite-title-text"><%= suite.suite.name %></h1>
		<span class="suite-controls">
			<a href="#" class="fn-run-suite"><%= dictionary.runSuite %></a>
		</span>
	</div>
	<div class="suite-setup hidden">
		<%
		var code = '';
		if (suite.originOption) {
			code += hilite('// options\n');
			code += hilite(JSON.stringify(suite.originOption, null, 2));
		}
		if (suite.setupFn) {
			if (code) {
				code += '\n\n';
			}
		  code += hilite('// suite preparation code (deprecated)\n');
		  code += hilite(fnstrip(suite.setupFn));
		}
		if (suite.beforeSuiteListeners.callbacks.length) {
			if (code) {
				code += '\n\n';
			}
			code += hilite('// suite preparation code');
			suite.beforeSuiteListeners.callbacks.forEach(function (callback) {
				code +=  '\n' + hilite(fnstrip(callback));
			});
		}
		if (suite.beforeBenchListeners.callbacks.length) {
			if (code) {
				code += '\n\n';
			}
			code += hilite('// benchmark preparation code');
			suite.beforeBenchListeners.callbacks.forEach(function (callback) {
				code += '\n' + hilite(fnstrip(callback));
			});
		}
		if (!(suite.setupFn || suite.beforeSuiteListeners.callbacks.length ||
					suite.beforeBenchListeners.callbacks.length)) {
			if (code) {
				code += '\n\n';
			}
			code += hilite('// no preparation code');
		}
		%>
		<% if (code) { %>
		<pre><code><%= code %></code></pre>
		<% } %>
	</div>
	<div class="fn-benchs suite-bench-list"></div>
</div>